@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #d9a520;
  --secondary-color: #8c5a2b;
  --text-color: #5a3a1e;
  --background-color: #fff8db;
  --cta-color: #ff8c00;
  --border-color: #d3b88c;

  --font-h1: clamp(2rem, 1.1176rem + 2.9412vw, 3rem);
  --font-h2: clamp(1.5rem, 1.0588rem + 1.4706vw, 2.5rem);
  --font-h3: clamp(1.25rem, 1.0294rem + 0.7353vw, 1.5rem);
  --font-h4: clamp(1.125rem, 1.0147rem + 0.3676vw, 1.25rem);
  --font-body: clamp(1rem, 0.8897rem + 0.3676vw, 1.125rem);
  --font-title: clamp(1.25rem, 0.5882rem + 2.2059vw, 2rem);

  --spacing-sm: clamp(0.375rem, 0.2647rem + 0.3676vw, 0.5rem);
  --spacing-md: clamp(0.5rem, 0.2794rem + 0.7353vw, 0.75rem);
  --spacing-lg: clamp(1rem, 0.5588rem + 1.4706vw, 1.5rem);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Berkshire Swash", serif;
  color: var(--text-color);
}

a {
  color: var(--cta-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}

a:hover {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--cta-color);
  color: white;
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--spacing-md);
  border: 1px solid var(--cta-color);
  outline-color: transparent;
  font-size: var(--font-body);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-secondary {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--spacing-md);
  border: 1px solid var(--cta-color);
  outline-color: transparent;
  font-size: var(--font-body);
  cursor: pointer;
  color: var(--cta-color);
  transition: color 0.3s ease-in-out;
}

.btn-secondary:hover {
  color: var(--primary-color);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

section {
  min-height: 100vh;
  margin-bottom: var(--spacing-lg);
}

.container {
  padding-inline: clamp(1rem, -0.6471rem + 8.8235vw, 5rem);
}

.heading-section {
  font-size: var(--font-h2);
  font-weight: 700;
  text-align: center;
  padding-bottom: var(--font-h1);
}

.heading-content {
  font-size: var(--font-h4);
  padding-bottom: 0.25rem;
  font-weight: 700;
  font-family: "Berkshire Swash", serif;
  color: var(--text-color);
}

.content {
  font-size: var(--font-body);
  padding-bottom: var(--font-h4);
}

.title {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--font-h1);
}

.subtitle {
  font-size: var(--font-h3);
  font-weight: 700;
  padding-bottom: var(--spacing-md);
}

.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
}

.list-items {
  padding-block: var(--spacing-lg);
  .list-item {
    padding-block: 0.25rem;
  }
}

.img-container {
  display: grid;
  place-items: center;

  & img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: darken;
    filter: brightness(1.01) contrast(1.01);
  }
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-sm);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--background-color);

  & .logo {
    font-size: var(--font-h2);
  }

  & .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-md);
  }
}

#home {
  min-height: 100vh;
  & .home-content {
    & .home-title {
      font-size: var(--font-h1);
      font-weight: 800;
      padding-top: 8rem;
    }

    & .home-subtitle {
      padding-block: 1rem 1.5rem;
    }
  }
  & .img-container {
    margin-top: -2rem;
    & img {
      object-fit: contain;
      aspect-ratio: 1;
    }
  }
}

#shop {
  .product-section {
    display: grid;
    place-content: center;
    padding-bottom: 6rem;

    & .img-container .img-flower {
      width: 90%;
      margin-inline: auto;
    }

    & .btn-primary {
      margin-inline: auto;
      margin-top: 1rem;
    }
  }
}

#about {
  .list-items {
    list-style-type: none;
  }
}

#benefits {
  & .img-container img {
    background-color: var(--background-color);
    mix-blend-mode: darken;
    filter: brightness(1.2) saturate(1.01) contrast(1.01);
  }
}

#reviews {
  .cards {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: var(--spacing-lg);

    & .card {
      padding: var(--spacing-md) var(--spacing-lg);
      border: 1px solid var(--cta-color);
      border-radius: var(--spacing-md);
    }
  }
}

#faq {
  & .faq-items {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);

    & details {
      width: 60vw;
      border: 1px solid var(--cta-color);
      border-radius: var(--spacing-md);

      &[open] summary {
        border-bottom: 1px solid var(--cta-color);
      }
      & summary::after {
        content: "⮞";
        position: absolute;
        transform: rotate(-90deg);
        transition: transform 0.3s ease-in-out;
        top: 0.75rem;
        right: 1rem;

        transform-origin: center;
      }
      &[open] summary::after {
        /* content: ''; */
        transform: rotate(90deg);
      }
      & summary {
        width: 100%;
        padding: var(--spacing-md) var(--spacing-lg);
        list-style-type: none;
        position: relative;
      }
      p {
        width: 100%;
        padding: var(--spacing-md) var(--spacing-lg);
      }
    }
  }
}

#contact {
  .contact-form {
    .input-field {
      position: relative;
      margin-block: 1rem;

      input,
      textarea {
        display: block;
        width: 100%;
        padding: var(--spacing-md);
        border-radius: var(--spacing-sm);
        border: 2px solid var(--cta-color);
        font-size: var(--font-body);
        background: transparent;
      }
      & input:user-valid,
      textarea:user-valid {
        border: 2px solid rgb(55, 175, 55);
      }

      & input:user-invalid,
      textarea:user-invalid {
        border: 2px solid rgb(163, 0, 0);
      }

      label {
        position: absolute;
        transform: translateY(0);
        top: 0.75rem;
        left: 0.5rem;
        color: var(--text-color);
        z-index: 5;
        padding-inline: 0.5rem;
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }

      & input:focus-within ~ label,
      input:active ~ label,
      input:not(:placeholder-shown) ~ label,
      textarea:focus-within ~ label,
      textarea:active ~ label,
      textarea:not(:placeholder-shown) ~ label {
        transform: translateY(-1.6rem);
        background-color: var(--background-color);
        padding-inline: 0.5rem;
        opacity: 1;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }
}

@media (width < 35rem) {
  .two-col {
    grid-template-columns: 1fr;
  }
  #home {
    & .img-container {
      margin-top: 1rem;
    }
  }

  #shop {
    .product-section {
      .img-container img {
        width: 80%;
      }
    }
  }
}

@media (width < 60rem) {
  #shop {
    .product-section {
      .title {
        padding-bottom: 1.5rem;
      }
      .img-container img {
        width: 120%;
      }
    }
  }
}
